<!DOCTYPE html>
<html>
<head>
    <title>Polaroids Third</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Patreon Stuff</h1>
<h2>Polaroid sending order</h2>
<p>
<ul>
 <%
 for (let i = 0; i < dates.length; i++) {
     %>
     <li><%= dates[i].date.toDateString() %></li>
    <ul>
     <%
     for (let j = 0; j < dates[i].members.length; j++) {
         %>
         <li><%= dates[i].members[j].fullName %> - <%= dates[i].members[j].pledge_relationship_start.toDateString()%></li>
         <%
     }
     %>
    </ul>
    <%
 }
 %>
</ul>
</p>
</body>
</html>
