<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Login</h1>
<p>
    <a href="<%= url %>">Login with OAuth</a>
</p>
</body>
</html>
