@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Patrick+Hand&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;

}

.login{
  background-color: ghostwhite;
  padding: 1em 5em;
  text-align: center;
  margin: 30vh auto auto;
  width: fit-content;
}

.title{
  background-color: #c19c00;
  text-align: center;
  color: white;
  padding: 2vw 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  min-width: 40vw;
  padding: 10px;
  text-align: center;
}

.parent {
  display: inline-flex;
  align-content: center;
  width: 100%;
}


.creator-page {
  border: black solid 1px;
  margin-top: 5em;
}

.creator-title {
  text-align: center;
  margin: 1em auto;
}
.creator-tier-list {
  display: flex;
  justify-content: space-around;
  margin: 3em 1em;
}

h1{
  font-family: 'Patrick Hand', cursive;
  font-size: 48px;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  margin-top: 1em;
}

.login-button{
  display:flex;
  margin: auto;
  justify-content:center;
  align-items:center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 25px;
  width: fit-content;
  text-decoration: none;
  z-index: 100;
}

.date-list{
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  margin: 5px 0;
}

.date-list-title{
  text-align: center;
  border-bottom: black solid 1px;
}

.date-list-title.previous{
  background-color: lightblue;
}

.date-list-title.today{
  background-color: lightgreen;
}

.date-list-title.future{
  background-color: lightgrey;
}

.date-list .polaroid-member {
  border-bottom: gray solid 1px;
}

.date-list .polaroid-member:last-child{
  border-bottom: none;
}

.polaroid-member-name{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-bottom: lightgrey solid 1px;
  padding: 1em 0;
}

.active, .polaroid-member-name:hover{
  background-color: #CDCDD5FF;
}

.polaroid-member-details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

.polaroid-member-address{
  margin: 1em 0;
}
.polaroid-member-info{
  margin: 1em 0;
}

.polaroid-empty {
  padding: 1em 0;
  color: gray;
}

.cat-polaroid {
  position: absolute;
  top: 12vh;
  left: 18vw;
  z-index: -10;

}

a {
  color: #00B7FF;
}
